doctype html

html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    // Bootstrap core CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    title Patron Login page
  body.text-center
    .container-fluid.py-3
      h1.text-center Login page
      p.text-center Enter your username and password below
      p.text-center #{error}
    .container-fluid.w-50
      .card.p-5
        form(action=`/login_patron`, _lpchecked='1', method='post')
          h1.h3.mb-3.fw-formal Please log in
          .form-floating
            input#floatingInput.form-control(type='username' placeholder='Username', name="username")
            label(for='floatingInput') Username
          .form-floating
            input#floatingPassword.form-control(type='password' placeholder='Password', name="password")
            label(for='floatingPassword') Password
          button.w-100.btn.btn-lg.btn-primary(type='submit') Sign in
    a.btn.btn-secondary(href='/')
        svg.bi.bi-house(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
          path(fill-rule='evenodd' d='M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z')
          path(fill-rule='evenodd' d='M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z')
        |  Return to home
