doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    title Library Home Page
  body
    h1.text-center.my-5 Library Home Page
    .container
      .row.justify-content-center
        .col.align-self-center
          .card.p-3.text-center
            h5.card-title Welcome, existing user!
            p.card-text Click below to sign out
            a.btn.btn-primary Sign Out
      .row.m-3
        .col.align-self-center
          .card
            a.btn.btn-lg.btn-secondary(href='/booktable') Librarian Portal
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
